#service{
    h3{
        font-size: 36px;
        line-height: 176px;
        height: 176px;
        width: 100%;
        text-align: center;
    }
    .mainbox{
        padding-bottom: 50px;
        display: flex;
        max-width: 860px;
        margin: auto;
        .leftbox{
            width: 40%;
            
            .note{
                width: 80%;
                img{
                    width: 280px;
                }
                p{
                    color: #008fc0;
                    font-size: 20px;
                    text-align: center;
                    padding: 30px 0;
                }
            }
          
        }
       
    }
    .el-form-item{
        margin-bottom: 0 !important;
    }
}
.rightbox,.infoBox{
    width: 530px;
    margin: auto;
    padding: 20px 0;
    .formbox{
        margin: 20px 0;
    }
    .el-form-item__content{
        margin-left: 0 !important;
    }
    .address_1,.goods_1{
            display: flex;
            justify-content: space-between;
        .el-form-item__content{
            display: flex;
            justify-content: space-between;
            margin-left: 0 !important;
        }
       
    }
    .goods_1{
        .el-form-item__content{
            display: flex;
            justify-content: space-between;
            margin-left: 0 !important;
        }
    }
  
    .submit{margin-top: 50px;}
    
}
#myOrder{
    .el-input.is-disabled .el-input__inner{
        color: #606266 !important;
    }
    .topStauts{
        display: flex;
        justify-content: space-between;
        .el-form-item{
            width: 50% !important;
        }
    }
    .submit{
        margin-top:  0;
    }
    // .goods_1{
    //     margin: 0 !important;
    // }
    // .rightbox{
        
    //     padding:  0 0 !important;
    //     .formbox{
    //         margin:  10px 0 !important;
    //     }
    // }
}