
#userCenter{
    max-width: 1200px;
    height: 500px;
    // background: #ddd;
    margin: auto;
    padding: 50px 0;
    .choose{
        background: #ecf5ff;
        color: #409eff !important;
    }
    .left{
        width: 18%;
        float: left;
        height: 500px;
        // background: salmon;
        border: 1px solid #ebebeb;
        border-radius: 3px;
        transition: .2s;
        border-color: transparent #ebebeb transparent transparent;
        h5{
            font-size: 16px;
            color: #444;
            cursor: pointer;
            position: relative;
            padding: 10px 0;
            text-indent: 2em;
            border-radius: 5px;
            &:hover{
                background-color: #ecf5ff ;
            }
            img{
                position: absolute;
                right: 5px;
                top: 15px;
                transition: .5s;
                width: 12px;
                transform:rotate(180deg);
                // display: inline ;
            }
            // background-image: url('../images/menu_1.png') ;
            // background-repeat: no-repeat;
            // background-position: right;
            // &:hover{
            //     background: url('../images/menu_2.png') right   no-repeat;
            // }
        }
        ul{
            display: block;
            li{
                border-radius: 3px;
                width: 100%;
                text-align: center;
                padding: 10px 0;
                color: #444;
                font-size: 14px;
                //  border-bottom:1px solid  #ebebeb;
                &:hover{
                    background-color: #ecf5ff ;
                    cursor: pointer;
                }
            }
        }
    }
    .right{
        width: 80%;
        float: right;
    }
    .clearfix:after {
        content:'.';display:block;height:0;clear:both;visibility:hidden;
    }
    .clearfix {
        zoom: 1;
    }
    #userinfo{
        padding: 0 0 100px 0;
        position: relative;
        .update{
            position: absolute;
            bottom:  0;
            left: 0;
            right: 0;
            margin: auto;
            display: flex;
            text-align: center;
            justify-content: center;
        }
    }
    
  }